extends _shared/base/layout
include _shared/mixins/navigation
include _shared/mixins/breadcrump

block css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.0.0/validator.min.js")
    script(src='/public/js/requester.js')
    script(src='/public/js/admin.js')
    script(src='/public/js/categories.js')
    script(src='/public/js/algorithms.js')

block navigation
    +nav(user, '/admin')

block breadcrump
    +breadcrump(['Home', 'Admin'])

block content
    h1.text-center Admin Panel
    .collapse-group
        .controls
            button.btn.btn-primary.open-button(type='button')
                | Open all
            button.btn.btn-primary.close-button(type='button')
                | Close all
            if task
                a.btn.btn-primary(href='/admin/', role='button') Switch to Add
        .panel.panel-success
            #headingOne.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        | Add Task
            #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                .panel-body
                    if task
                        fieldset(disabled='disabled')
                            form.form-group.container(action='/admin/' method='post')
                                .col-md-2
                                    .col
                                        label Name:
                                            input(type='text', required='required', name='name')
                                    .col
                                        label Timelimit:
                                            input(type='text', placeholder='in ms' required='required', name='timelimit')
                                    .col
                                        label Memory Limit:
                                            input(type='text', placeholder='in MB' required='required', name='memorylimit')
                                .col-md-3
                                    .col
                                        label Description:
                                            textarea(wrap='hard' rows='7' cols='25' required='required', name='description')
                                .col-md-3
                                    .col                        
                                        label Input:
                                            textarea(wrap='hard' rows='7' cols='25' required='required', name='input')
                                .col-md-3
                                    .col
                                        label Result:
                                            textarea(wrap='hard' rows='7' cols='25' required='required', name='results')
                                .col-md-1
                                    .col
                                        label Tags:
                                            select.selectpicker(multiple data-live-search='true' mobile='true' width='auto')
                                                option(data-token='#data-structures') Data Structures
                                                option(data-token='#recursion') Recursion
                                                option(data-token='#combinatorics') Combinatorics
                                                option(data-token='#sorting-algorithms') Sorting Algorithms
                                                option(data-token='#searching-algorithms') Searching Algorithms
                                                option(data-token='#trees-and-traversals') Trees and Traversals
                                                option(data-token='#graph-algorithms') Graph Algorithms
                                                option(data-token='#greedy-algorithms') Greedy Algorithms
                                                option(data-token='#dynamic-programming') Dynamic Programming
                                                option(data-token='#string-algorithms') String Algorithms
                                    .col
                                        button.btn.btn-primary(type='button') Add Input/Result
                                    .col
                                        input.btn.btn-primary(type='button', value='Post Task')
                    else
                        form.form-group.container(action='/admin/' id='taskform' method='post')
                            .col-md-2
                                .col
                                    label Name:
                                        input#name(type='text', required='required', name='name')
                                .col
                                    label Timelimit:
                                        input#timelimit(type='text', placeholder='in ms' required='required', name='timelimit')
                                .col
                                    label Memory Limit:
                                        input#memorylimit(type='text', placeholder='in MB' required='required', name='memorylimit')
                            .col-md-3
                                .col
                                    label Description:
                                        textarea#description(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='description')
                            .col-md-3
                                .col                        
                                    label Input:
                                        textarea#input(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='input')
                            .col-md-3
                                .col
                                    label Result:
                                        textarea#result(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='results')
                            .col-md-1
                                .col
                                    label Tags:
                                        select#tags.selectpicker(multiple data-live-search='true' mobile='true' width='auto')
                                            option(data-token='#data-structures') Data Structures
                                            option(data-token='#recursion') Recursion
                                            option(data-token='#combinatorics') Combinatorics
                                            option(data-token='#sorting-algorithms') Sorting Algorithms
                                            option(data-token='#searching-algorithms') Searching Algorithms
                                            option(data-token='#trees-and-traversals') Trees and Traversals
                                            option(data-token='#graph-algorithms') Graph Algorithms
                                            option(data-token='#greedy-algorithms') Greedy Algorithms
                                            option(data-token='#dynamic-programming') Dynamic Programming
                                            option(data-token='#string-algorithms') String Algorithms
                                .col
                                    button#add-pair.btn.btn-primary(type='button') Add Input/Result
                                .col
                                    input#add-task.btn.btn-primary(type='button', value='Post Task')
        .panel.panel-warning
            #headingTwo.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')

                        | Update Task
            #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                .panel-body
                    if task
                        form.container(action='/admin/' + task._id, id='taskform' method='put')
                            .col-md-2
                                .col
                                    label Name:
                                        input#name(type='text', required='required', name='name', value=task.name)
                                .col
                                    label Timelimit:
                                        input#timelimit(type='text', placeholder='in ms' required='required', name='timelimit' value=task.timelimit)
                                .col
                                    label Memory Limit:
                                        input#memorylimit(type='text', placeholder='in MB' required='required', name='memorylimit' value=task.memorylimit)
                            .col-md-3
                                .col
                                    label Description:
                                        textarea#description(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='description') #{task.description}
                            .col-md-3
                                .col                        
                                    label Input(change = new task):
                                        textarea#input(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='input') #{task.input}
                            .col-md-3
                                .col
                                    label Result(change = new task):
                                        textarea#result(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='results') #{task.results}
                            .col-md-1
                                .col
                                    label Tags:
                                        select#tags.selectpicker(multiple data-live-search='true' mobile='true' width='auto')
                                            each key in [{'#data-structures' : 'Data Structures'}, {'#recursion' : 'Recursion'}, {'#combinatorics' : 'Combinatorics'}, {'#sorting-algorithms' : 'Sorting Algorithms'}, {'#searching-algorithms' : 'Searching Algorithms'}, {'#trees-and-traversals' : 'Trees and Traversals'}, {'#graph-algorithms' : 'Graph Algorithms'}, {'#greedy-algorithms' : 'Greedy Algorithms'}, {'#dynamic-programming' : 'Dynamic Programming'}, {'#string-algorithms' : 'String Algorithms'}, ]
                                                - var mark = true
                                                each tag, index in task.tags
                                                    if Object.keys(key)[0] === tag
                                                        option(data-token=Object.keys(key)[0] selected=true) #{key[Object.keys(key)[0]]}
                                                        - mark = false
                                                if mark
                                                    option(data-token=Object.keys(key)[0]) #{key[Object.keys(key)[0]]}
                                .col
                                    button#add-pair.btn.btn-primary(type='button') Add Input/Result
                                .col
                                    input#update-task.btn.btn-primary(type='button', value='Update Task')
                    else
                        fieldset(disabled='disabled')
                            form.container(action='/admin/', method='put')
                                .col-md-2
                                    .col
                                        label Name:
                                            input(type='text', required='required', name='name')
                                    .col
                                        label Timelimit:
                                            input(type='text', placeholder='in ms' required='required', name='timelimit')
                                    .col
                                        label Memory Limit:
                                            input(type='text', placeholder='in MB' required='required', name='memorylimit')
                                .col-md-3
                                    .col
                                        label Description:
                                            textarea(wrap='hard' rows='7' cols='25' required='required', name='description')
                                .col-md-3
                                    .col                        
                                        label Input:
                                            textarea(wrap='hard' rows='7' cols='25' required='required', name='input')
                                .col-md-3
                                    .col
                                        label Result:
                                            textarea(wrap='hard' rows='7' cols='25' required='required', name='results')
                                .col-md-1
                                    .col
                                        label Tags:
                                            select.selectpicker(multiple data-live-search='true' mobile='true' width='auto')
                                                option(data-token='#data-structures') Data Structures
                                                option(data-token='#recursion') Recursion
                                                option(data-token='#combinatorics') Combinatorics
                                                option(data-token='#sorting-algorithms') Sorting Algorithms
                                                option(data-token='#searching-algorithms') Searching Algorithms
                                                option(data-token='#trees-and-traversals') Trees and Traversals
                                                option(data-token='#graph-algorithms') Graph Algorithms
                                                option(data-token='#greedy-algorithms') Greedy Algorithms
                                                option(data-token='#dynamic-programming') Dynamic Programming
                                                option(data-token='#string-algorithms') String Algorithms
                                    .col
                                        button.btn.btn-primary(type='button') Add Input/Result
                                    .col
                                        input.btn.btn-primary(type='button', value='Update Task')
        .panel.panel-danger
            #headingThree.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                        | Delete Task
            #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                .panel-body
                    if task
                        form.container(action='/admin/' + task._id, method='post')
                            input#delete-task.btn.btn-danger(type='button', value='Delete Task')
                    else
                        form.container(action='/admin/', method='post')
                            input.btn.btn-danger(type='button', value='Delete Task' disabled)
        .panel.panel-default
            #headingFour.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseFour', aria-expanded='true', aria-controls='collapseFour')
                        | Add Category
            #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                .panel-body
                    form
                        .form-group
                            label(for='category-name') Category name:
                            input#category-name.form-control(type='text')
                        .form-group
                            label(for='summary') Summary:
                            textarea#summary.form-control(rows='5')
                        button#add-category.btn.btn-default(type='button') Add Category
        .panel.panel-default
            #headingFive.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseFive', aria-expanded='true', aria-controls='collapseFive')
                        | Add Algorithm
            #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                .panel-body
                    form
                        .form-group
                            label(for='algo-name') Algorithm name:
                            input#algo-name.form-control(type='text')
                        .form-group
                            label(for='algo-category') Category name:
                            input#algo-category.form-control(type='text')
                        .form-group
                            label(for='algo-note') Note:
                            textarea#algo-note.form-control(rows='5')
                        button#add-algo.btn.btn-default(type='button') Add Algorithm