extends layout

block js
    script(src="/public/js/compiler.js")

block content
    h1 
        | #{task.name}
    form.pull-left(id='compilerform' action='/compiler/' + task._id, method='post')
        div
            label Input:
                textarea#input(form='compilerform' wrap='hard' rows=10 cols=50 required='required' name='input')
        #results-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='results-title', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#results-title.modal-title Results
                    .modal-body
                    .modal-footer
                        a.btn.btn-secondary.pull-left(href='/catalogue', role='button', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Go to catalogue', aria-describedby='tooltip218548') Catalogue
                        button.btn.btn-default(type='button', data-dismiss='modal') Close        
        #description-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='description-modal-title', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#description-modal-title.modal-title #{task.name}
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        :markdown
                            #{task.description}
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close        
        div
            button#submit.btn.btn-primary(type='button', data-toggle='modal', data-target='#results-modal') Submit
            button#results.btn.btn-primary(type='button', data-toggle='modal', data-target='#results-modal') Results
            button#description.btn.btn-primary(type='button', data-toggle='modal', data-target='#description-modal') Description
            button#edit.btn.btn-primary(type='button') Edit
            button#delete.btn.btn-danger(type='button') Delete
    .pull-right 
        h1 
            | Ranking
        table.table.table-hover.table-striped.table-bordered
            thead
                tr
                    th #
                    th Username
                    th Result
            tbody
                tr
                    th(scope='row') 1
                    td Mark
                    td 0 / #{task.results.length * 10}
                tr
                    th(scope='row') 2
                    td Jacob
                    td 0 / #{task.results.length * 10}
        