extends _shared/base/layout
include _shared/mixins/navigation

block css
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/libs/codemirror/lib/codemirror.css')
    link(rel='stylesheet', href='/libs/codemirror/theme/rubyblue.css')

block js
    script(src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js")
    script(src='/libs/codemirror/lib/codemirror.js')
    script(src='/libs/codemirror/mode/clike/clike.js')
    script(src='/public/js/compiler.js')

block navigation
    +nav(user)

block content
    h1.text-center #{task.name}
    form.col-md-6(id='compilerform' action='/compiler/' + task._id, method='post')
        h1.text-center Solution
        .col
            label Input:
                textarea#input(form='compilerform' wrap='hard' rows=50 cols=90 required='required' name='input')
        .col.btn-toolbar.centered
            .btn-group
                button#submit.btn.btn-primary(type='button', data-toggle='modal', data-target='#results-modal') Submit
                button#results.btn.btn-primary(type='button', data-toggle='modal', data-target='#results-modal') Results
                button#description.btn.btn-primary(type='button', data-toggle='modal', data-target='#description-modal') Description
                a#submissions.btn.btn-primary(href='/tasks/'+ task._id + '/' + user.username, role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='Go to your previous submissions') Submissions
            if(user && user.role == 'admin')
                .btn-group
                    a.btn.btn-primary(href='/admin/'+ task._id, role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='Go to the admin panel') Edit
                    a.btn.btn-danger(href='/admin/'+ task._id, role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='Go to the admin panel') Delete
    .col-md-6
        .col
            h1.text-center Ranking
                table#ranking-table.table.table-hover.table-striped.table-bordered(cellspacing='0')
                    thead
                        tr
                            th #
                            th Username
                            th Result
                    tfoot
                        tr
                            th
                                a.btn.btn-primary(href='/tasks/'+ task._id, role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='It will refresh the whole page!')
                                    span.glyphicon.glyphicon-refresh
                            th Username
                            th
                                button#avg.btn.btn-primary(type='button', data-toggle='modal', data-target='#avg-modal') Get Average
                    tbody
                        each key, index in sortedKeys
                            if key != user.username
                                tr
                                    td
                                        | #{index+1}
                                    td
                                        a(href='/users/'+ key, data-toggle='tooltip', data-placement='bottom', data-original-title='Go to user profile')
                                            | #{key}
                                    td.result 
                                        | #{task.users[key]} / #{task.results.length * 10}
                            else
                                tr.match-user
                                    td
                                        | #{index+1}
                                    td
                                        a(href='/users/'+ key, data-toggle='tooltip', data-placement='bottom', data-original-title='Go to user profile')
                                            | #{key}
                                    td.result 
                                        | #{task.users[key]} / #{task.results.length * 10}                                
    #results-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='results-title', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#results-title.modal-title Results
                .modal-body
                .modal-footer
                    a.btn.btn-secondary.pull-left(href='/catalogue', role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='Go to catalogue') Catalogue
                    button.btn.btn-default(type='button', data-dismiss='modal') Close        
    #description-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='description-modal-title', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#description-modal-title.modal-title #{task.name}
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    != md(task.description)
                .modal-footer
                    a.btn.btn-secondary.pull-left(href='/catalogue', role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='Go to catalogue') Catalogue
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    #avg-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='avg-modal-title', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#avg-modal-title.modal-title #{task.name} Average Results
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                .modal-footer
                    a.btn.btn-secondary.pull-left(href='/catalogue', role='button', data-toggle='tooltip', data-placement='bottom', data-original-title='Go to catalogue') Catalogue
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close